---
const year = new Date().getFullYear()
---

<footer class="container mx-auto p-8 flex justify-between">
  <div>
    Copyright &copy; { year } tailwindrecipes.co | All rights reserved
  </div>
  <div>
    <ul class="flex gap-3">
      <li>Github</li>
      <li>Threads</li>
    </ul>
  </div>
</footer>