---
const year = new Date().getFullYear()
---

<footer class="container mx-auto px-8 py-5 flex-col">
  <div>
    Copyright &copy; { year } tailwindrecipes.co | All rights reserved
  </div>
  <div>
    <ul class="flex gap-2">
      <li>Github</li>
      <li>Threads</li>
    </ul>
  </div>
</footer>