---
const { subhed } = Astro.props
---

<header class="flex flex-row">
  <div class="container mx-auto px-12 py-24 text-center">
    <h1 class="text-6xl font-bold tracking-tight mb-2">
      Tailwind recipes for all your 
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">creative</span>
      projects.
    </h1>
    <h2 class="text-xl text-slate-400">{ subhed }</h2>
  </div>
</header>

