---

---

<div class="flex flex-col transition-all">
  
  <section>
    <details open>
      <summary><h2 class="font-bold inline">Header Components</h2></summary>
        <ul class="pl-4 border-l-[1px] border-stone-200 leading-loose mt-2">
          <li><a href="#">Navigation Menu</a></li>
          <li><a href="#">Search Bar</a></li>
        </ul>
    </details>
  </section>

  <section>
    <details open>
      <summary><h2 class="font-bold inline">Header Components</h2></summary>
        <ul class="pl-4 border-l-[1px] border-stone-200 leading-loose mt-2">
          <li><a href="#">Navigation Menu</a></li>
          <li><a href="#">Search Bar</a></li>
        </ul>
    </details>
  </section>

  <section>
    <details open>
      <summary><h2 class="font-bold inline">Header Components</h2></summary>
        <ul class="pl-4 border-l-[1px] border-stone-200 leading-loose mt-2">
          <li><a href="#">Navigation Menu</a></li>
          <li><a href="#">Search Bar</a></li>
        </ul>
    </details>
  </section>

</div>